{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
    <br/>
    <br/>
    <!-- <h1>Records...</h1> -->
    {% if records %}
    <table class="table table-striped table-hover">
      
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td><a href="{% url 'record' record.id %}">{{record.first_name|capfirst}} {{record.last_name|capfirst}}</a></td>
          <td>{{record.email}}</td>
          <td>{{record.phone}}</td>
          <td>{{record.address|capfirst}}, {{record.city|capfirst}}, {{record.state|capfirst}}, {{record.zipcode}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% endif %}
    {% else %}
    <div class="col-md-6 offset-md-3">
    <h1>LOGIN!</h1>
    <br/>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
      </div>
      {% endif %}
{% endblock %}